@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityUser>

@{
    ViewBag.Title = "All Users";
}

<h1>All Users</h1>

@{
    bool UsersIsNullOrEmpty = ((Model is null) || (Model!.Any()));
}

@if (UsersIsNullOrEmpty)
{
    <div class="card">
        <div class="card-header">No users created</div>
    </div>
}
else
{
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>Role</th>
        </tr>
        @foreach (var user in Model!)
        {
            <tr>
                <td></td>
                <td>@Html.DisplayFor(_ => user.Id)</td>
                <td>@Html.DisplayFor(_ => user.Email)</td>
                <td>@Html.DisplayFor(_ => user.)</td>

                <td>
                    @*<a asp-aciton="EditUser" asp-route-id="@user.Id"*@
                </td>
            </tr>
        }
    </table>
}