@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityUserViewModel>

@{
    ViewBag.Title = "All Users";
}

<h1>All Users</h1>

@{
    bool UsersIsNullOrEmpty = ((Model is null) || !(Model!.Any()));
}

@if (UsersIsNullOrEmpty)
{
    <div class="card">
        <div class="card-header">No users created</div>
    </div>
}
else
{
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>Role</th>
        </tr>
        @foreach (var user in Model!)
        {
            <tr>
                <td>@Html.DisplayFor(_ => user.Id)</td>
                <td>@Html.DisplayFor(_ => user.Email)</td>
                <td>@Html.DisplayFor(_ => user.RoleName)</td>

                <td>
                    <a asp-aciton="Details" asp-route-id="@user.Id">Details</a> |
                    <a asp-aciton="Edit" asp-route-id="@user.Id">Edit</a> |
                    <a asp-aciton="Delete" asp-route-id="@user.Id">Delete</a>
                </td>
            </tr>
        }
    </table>
}