@model IEnumerable<IdentityUser>

@{
    ViewBag.Title = "All Users";
    var hasNoUser = (Model is null) || !Model.Any();
}

<div asp-validation-summary="All" class="text-danger"></div>

@if (hasNoUser)
{
    <h6>No user found</h6>
}
else
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    @Html.DisplayNameForInnerType((IdentityUser user) => user.Email)
                </th>
            </tr>
            @foreach(var tuple in Model!.Select((user, index) => new { index, user }))
            {
                <tr>
                    <th>
                        @tuple.index
                    </th>
                    <th>
                        @tuple.user.Email
                    </th>
                    <th>
                        <form method="post" asp-action="DeleteUser" asp-controller="Administration" asp-route-id="@tuple.user.Id">
                            <button type="submit" class="btn btn-danger">Delete</button>
                            <a asp-action="EditUser" asp-controller="Administration" asp-route-id="@tuple.user.Id" class="btn btn-primary">Edit</a>
                        </form>
                    </th>
                </tr>

            }
        </thead>
    </table>
}